body {
  background-color: #000;
  color: #fff;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #b30000;
  text-align: center;
  padding: 20px;
}

header h1 {
  margin: 0;
  color: #fff;
}

main {
  padding: 20px;
}

.servicos h2, .contato h2 {
  color: #b30000;
}

button {
  background-color: #b30000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #ff0000;
}

footer {
  background-color: #111;
  text-align: center;
  padding: 10px;
  margin-top: 20px;
}
header img {
  display: block;
  margin: 20px auto;
  border-radius: 10px;
}
.banner {
  display: block;
  width: 100%;
  max-width: 800px;
  margin: 0 auto 20px auto;
  border-radius: 10px;
}.banner {
  width: 400px;   
  margin: 0 auto;
  display: block;
}
.social {
  font-size: 18px;
  font-weight: bold;
  color: #ff0000; 
  text-align: center;
  margin-top: 10px;
}
